{% assign gettingstarted = '/docs/gettingstarted/index.html' %}
{% assign overview = '/index.html' %}
{% assign admin = '/docs/admin/index.html' %}
{% assign contextualengine = '/docs/contextualengine/index.html' %}
{% assign triggers = '/docs/triggers/index.html' %}

<div class="magellan tabs vertical"  data-magellan-expedition="" >
  <dl class="sub-nav" id="side-nav">

    {% if page.url == overview %}
        <div id="activesection">
          <dd>
            <a class="home" href="#overview">Overview</a>
          </dd>
          <dd data-magellan-arrival="introduction">
            <a href="#introduction">Introduction</a>
          </dd>
          <dd data-magellan-arrival="getting-started">
            <a href="#getting-started">Getting Started</a>
          </dd>
        </div>
    {% else %}
        <dd ><a class="home" href="/">Overview</a></dd>
    {% endif %}

    {% if page.url == Getting Started %}
        <div id="activesection">
          <dd>
            <a class="home" href="#Getting Started">Getting Started</a>
          </dd>
          <dd data-magellan-arrival="introduction">
            <a href="#introduction">Introduction</a>
          </dd>
          <dd data-magellan-arrival="getting-started">
            <a href="#getting-started">Getting Started</a>
          </dd>
        </div>
    {% else %}
        <dd ><a class="home" href="/">Getting Started</a></dd>
    {% endif %}

    {% if page.url == admin %}
        <div id="activesection">
            <dd ><a class="home" href="/docs/admin">Developer Portal</a></dd>

            <dd data-magellan-arrival="Beacons"><a href="#Beacons">Beacons</a></dd>
            <dd data-magellan-arrival="Geofences"><a href="#Geofences">Geofences</a></dd>
            <dd data-magellan-arrival="Events"><a href="#Events">Events</a></dd>
            <dd data-magellan-arrival="Contexts"><a href="#Contexts">Contexts</a></dd>

            <dd data-magellan-arrival="Vault"><a href="#Vault">Vault</a></dd>

            <dd data-magellan-arrival="Devices"><a href="#Devices">Devices</a></dd>

            <dd data-magellan-arrival="Analytics"><a href="#Analytics">Analytics</a></dd>
            <dl class="sub-nav">
                <dd data-magellan-arrival="Dashboard"><a href="#Dashboard">Dashboard</a></dd>
                <dd data-magellan-arrival="Custom"><a href="#Custom">Custom</a></dd>
            </dl>

            <dd data-magellan-arrival="Triggers"><a href="#Triggers">Triggers</a></dd>

            <dd data-magellan-arrival="Settings"><a href="#Settings">Settings</a></dd>
            <dl class="sub-nav">
                <dd data-magellan-arrival="PushServices"><a href="#PushServices">Push Services</a></dd>
                <dd data-magellan-arrival="Collaborators"><a href="#Collaborators">Collaborators</a></dd>
            </dl>

            <dd data-magellan-arrival="Logs"><a href="#Logs">Logs</a></dd>
        </div>
    {% else %}
        <dd ><a class="home" href="/docs/admin">Developer Portal</a></dd>
    {% endif %}

    {% if page.url == contextualengine %}
        <div id="activesection">
            <dd ><a class="home" href="/docs/contextualengine">Contextual Engine</a></dd>

            <dd data-magellan-arrival="beacon"><a href="#beacon">Beacon</a></dd>
            <dl class="sub-nav">
                <dd data-magellan-arrival="beacon-create">
                  <a href="#beacon-create">Create</a>
                </dd>
                <dd data-magellan-arrival="beacon-find">
                  <a href="#beacon-find">Find</a>
                </dd>
                <dd data-magellan-arrival="beacon-alltagged">
                  <a href="#beacon-alltagged">All Tagged</a>
                </dd>
                <dd data-magellan-arrival="beacon-anytagged">
                  <a href="#beacon-anytagged">Any Tagged</a>
                </dd>
                <dd data-magellan-arrival="beacon-update">
                  <a href="#beacon-update">Update</a>
                </dd>
                <dd data-magellan-arrival="beacon-destroy">
                  <a href="#beacon-destroy">Destroy</a>
                </dd>
            </dl>

            <dd data-magellan-arrival="console"><a href="#console">Console</a></dd>
            <dl class="sub-nav">
              <dd data-magellan-arrival="console-log">
                <a href="#console-log">Log</a>
              </dd>
           </dl>

            <dd data-magellan-arrival="device"><a href="#device">Device</a></dd>
            <dl class="sub-nav">
                <dd data-magellan-arrival="device-findbyalias">
                  <a href="#device-findbyalias">Find By Alias</a>
                </dd>
                <dd data-magellan-arrival="device-findbyid">
                  <a href="#device-findbyid">Find By Id</a>
                </dd>
                <dd data-magellan-arrival="device-alltagged">
                  <a href="#device-alltags">All Tagged</a>
                </dd>
                <dd data-magellan-arrival="device-anytagged">
                  <a href="#device-anytagged">Any Tagged</a>
                </dd>
                <dd data-magellan-arrival="device-near">
                  <a href="#device-near">Near</a>
                </dd>
            </dl>

           <dd data-magellan-arrival="event"><a href="#event">Event</a></dd>
           <dl class="sub-nav">
               <dd data-magellan-arrival="event-sampleevent">
                 <a href="#event-sampleevent">Sample Event</a>
               </dd>
               <dd data-magellan-arrival="event-beaconinout">
                 <a href="#event-beaconinout">Beacon In/Out</a>
               </dd>
               <dd data-magellan-arrival="event-beaconchanged">
                 <a href="#event-beaconchanged">Beacon Changed</a>
               </dd>
               <dd data-magellan-arrival="event-geofenceinout">
                 <a href="#event-geofenceinout">Geofence In/Out</a>
               </dd>
               <dd data-magellan-arrival="event-locationchanged">
                 <a href="#event-locationchanged">Location Changed</a>
               </dd>
               <dd data-magellan-arrival="event-tick">
                 <a href="#event-tick">Tick</a>
               </dd>
               <dd data-magellan-arrival="event-customevents">
                 <a href="#event-customevents">Custom Events</a>
               </dd>
           </dl>

            <dd data-magellan-arrival="geofence"><a href="#geofence">Geofence</a></dd>
            <dl class="sub-nav">
                <dd data-magellan-arrival="geofence-create">
                  <a href="#geofence-create">Create</a>
                </dd>
                <dd data-magellan-arrival="geofence-find">
                  <a href="#geofence-find">Find</a>
                </dd>
                <dd data-magellan-arrival="geofence-alltagged">
                  <a href="#geofence-alltagged">All Tagged</a>
                </dd>
                <dd data-magellan-arrival="geofence-anytagged">
                  <a href="#geofence-retrievingbyid">Any Tagged</a>
                </dd>
                <dd data-magellan-arrival="geofence-search">
                  <a href="#geofence-search">Search</a>
                </dd>
                <dd data-magellan-arrival="geofence-update">
                  <a href="#geofence-updating">Update</a>
                </dd>
                <dd data-magellan-arrival="geofence-destroy">
                  <a href="#geofence-destroy">Destroy</a>
                </dd>
            </dl>

            <dd data-magellan-arrival="http"><a href="#http">Http</a></dd>
             <dl class="sub-nav">
                <dd data-magellan-arrival="http-get">
                  <a href="#http-get">Get</a>
                </dd>
                <dd data-magellan-arrival="http-post">
                  <a href="#http-post">Post</a>
                </dd>
            </dl>

            <dd data-magellan-arrival="push"><a href="#push">Push</a></dd>
            <dl class="sub-nav">
                <dd data-magellan-arrival="push-deliver">
                  <a href="#push-deliver">Deliver</a>
                </dd>
            </dl>

            <dd data-magellan-arrival="vault"><a href="#vault">Vault</a></dd>
            <dl class="sub-nav">
                <dd data-magellan-arrival="vault-create">
                  <a href="#vault-create">Create</a>
                </dd>
                <dd data-magellan-arrival="vault-find">
                  <a href="#vault-response">find</a>
                </dd>
                <dd data-magellan-arrival="vault-alltagged">
                  <a href="#vault-retrievingbytag">All Tagged</a>
                </dd>
                <dd data-magellan-arrival="vault-anytagged">
                  <a href="#vault-anytagged">Any Tagged</a>
                </dd>
                <dd data-magellan-arrival="vault-search">
                  <a href="#vault-search">Search</a>
                </dd>
                <dd data-magellan-arrival="vault-keypath">
                  <a href="#vault-keypath">Key Path</a>
                </dd>
                <dd data-magellan-arrival="vault-update">
                  <a href="#vault-update">Update</a>
                </dd>
                <dd data-magellan-arrival="vault-destroy">
                  <a href="#vault-destroy">Destroy</a>
                </dd>
            </dl>
        </div>
    {% else %}
        <dd ><a class="home" href="/docs/contextualengine">Contextual Engine</a></dd>
    {% endif %}

    {% if page.url == triggers %}
        <div id="activesection">
          <dd data-magellan-arrival="triggers">
            <a class="home" href="#triggers">Triggers</a>
          </dd>
          <dd data-magellan-arrival="triggers-creating">
            <a href="#triggers-creating">Creating</a>
          </dd>
          <dd data-magellan-arrival="triggers-posting">
            <a href="#triggers-posting">Posting</a>
          </dd>
        </div>
    {% else %}
        <dd ><a class="home" href="/docs/triggers">Triggers</a></dd>
    {% endif %}
  </dl>
</div>
